/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : 18.04.2018, 18:50:58
    Author     : user
*/

body {
    background-color: #5a4651;
}

.fakeheadpage {
    margin-top: 65px;
}

.headpage {
    color: #ffffff;
    margin: auto;
    padding: 5px;
    font-size: 30px;
    max-width: 1280px;
    background: rgba(0, 0, 0, 0.70);
}

.texheadtpage{
   font-style: normal;
}